$background-titule: white;
$font-size__titule: 50px;
$color-titule: black;

.titule-news,
.titule-gallery,
.titule-teams,
.titule-fixture {
  background-color: $background-titule;
  font-size: $font-size__titule;
  color: $color-titule;
}
