<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/e47c7f40aa.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../style2.css" />
    <title>E-ARG 🎮</title>
  </head>
  <body>
    <header class="header">
      <h1 class="logo">Esports Argentina</h1>
      <nav class="nav__header nav">
        <a href="../Index2.html"> Inicio </a>
        <a href="Equipos.html"> Equipos </a>
        <a href="Rankings.html"> Rankings </a>
        <a href="Contact.html"> Conacto </a>
        <a href="Inicio sesion.html"> Inicia sesión </a>
      </nav>
    </header>

    <main>
      <form>
        <div class="">
          <div class="row p-0">
            <h3
              class="contact-titule col-md 4 lg-4 sm-12"
              style="text-align: center"
            >
              LOGIN | CREAR CUENTA
            </h3>
          </div>
          <fieldset class="body-form__login">
            <form>
              <div class="row p-0">
                <div class="boxs-form col-md 4 lg-4 sm-12">
                  <label for="nick" class="titule-labels">Nick</label>
                  <input
                    type="text"
                    name="nick"
                    placeholder="Nick"
                    style="margin-top: 100px"
                  />
                </div>
              </div>
              <div class="row p-0">
                <div class="boxs-form col-md 4 lg-4 sm-12">
                  <label for="email" class="titule-labels">Email</label>
                  <input
                    type="email"
                    name="email"
                    placeholder="email@gmail.com"
                    style="margin-top: 100px"
                  />
                </div>
              </div>
              <div class="row p-0">
                <div class="boxs-form col-md 4 lg-4 sm-12">
                  <label for="password" class="titule-labels">Contraseña</label>
                  <input
                    type="password"
                    name="password"
                    placeholder="**********"
                    style="margin-top: 100px"
                  />
                </div>
              </div>
              <div class="row p-0">
                <div class="boxs-form col-md 4 lg-4 sm-12">
                  <label
                    for="password-confirm"
                    class="titule-labels"
                    style="padding: 30px 350px 30px 350px"
                    >Repita contraseña</label
                  >
                  <input
                    type="password"
                    name="password-confirm"
                    placeholder="**********"
                    style="margin-top: 100px"
                  />
                </div>
              </div>

              <div class="boxs-form titule-labels">Tu Equipo!</div>

              <select name="teams" id="team" style="margin-top: 100px">
                <option value="none">Seleccionar</option>
                <option value="Furious Gaming">Furious Gaming</option>
                <option value="Isurus Gaming">Isurus Gaming</option>
                <option value="Coscu Army">Coscu Army</option>
                <option value="Malvinas Gaming">Malvinas Gaming</option>
                <option value="9z">9z</option>
              </select>
            </form>
          </fieldset>
          <div class="boxs-form-bottom" style="text-align: center">
            <input type="submit" value="Enviar" />
          </div>
        </div>
      </form>
    </main>
  </body>

  <footer
    class="footer main-div-footer container-fluid p-0"
    style="text-align: center; padding: 20px 0 30px 0"
  >
    <div class="icons-footer container-fluid">
      <i class="fab fa-facebook icon-facebook"></i>
      <i class="fab fa-twitter icon-twitter"></i>
      <i class="fab fa-youtube icon-youtube"></i>
      <i class="fab fa-twitch icon-twitch"></i>
      <i class="fab fa-instagram icon-instagram"></i>
    </div>
    <div class="span--footer">
      <span style="color: black"> &copy; Copyright - Santiago Targize.</span>
    </div>
  </footer>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"
  ></script>
</html>
