<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/e47c7f40aa.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../style2.css" />
    <title>E-ARG 🎮</title>
  </head>
  <body>
    <header class="header">
      <h1 class="logo">Esports Argentina</h1>
      <nav class="nav__header nav">
        <a href="../Index2.html"> Inicio </a>
        <a href="Equipos.html"> Equipos </a>
        <a href="Rankings.html"> Rankings </a>
        <a href="Contact.html"> Conacto </a>
        <a href="Inicio sesion.html"> Inicia sesión </a>
      </nav>
    </header>
    <hr />

    <main>
      <h2 class="titule-rankings">RANKINGS</h2>
      <div>
        <h3 class="titule-ranking-counter">COUNTER STRIKE GLOBAL OFFENSIVE</h3>
        <section class="main--body__ranking">
          <div>
            <ol>
              <li>
                <a
                  href="Equipos/9z.html"
                  style="text-decoration: none; color: black"
                >
                  <div class="main--body__ranking">
                    <div class="teams--ranking">
                      <img
                        src="../../Images/Logos equipos/9z (600x600px).png"
                        alt="9z"
                        style="width: 60px; height: 60px; padding-right: 20px"
                      />
                    </div>
                    <div class="teams--ranking">
                      <span>9z</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="Equipos/Isurus Gaming.html"
                  style="text-decoration: none; color: black"
                >
                  <div class="main--body__ranking">
                    <div class="teams--ranking">
                      <img
                        src="../../Images/Logos equipos/Isurus Gaming (600x600px).png"
                        alt="9z"
                        style="width: 60px; height: 60px; padding-right: 20px"
                      />
                    </div>
                    <div class="teams--ranking">
                      <span>ISURUS GAMING</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="Equipos/River Plate.html"
                  style="text-decoration: none; color: black"
                >
                  <div class="main--body__ranking">
                    <div class="teams--ranking">
                      <img
                        src="../../Images/Logos equipos/River Plate Gaming (600x600px).png"
                        alt="9z"
                        style="width: 60px; height: 60px; padding-right: 20px"
                      />
                    </div>
                    <div class="teams--ranking">
                      <span>RIVER PLATE GAMING</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="Equipos/Leviatán.html "
                  style="text-decoration: none; color: black"
                >
                  <div class="main--body__ranking">
                    <div class="teams--ranking">
                      <img
                        src="../../Images/Logos equipos/Leviatán (600x600px).png "
                        alt="9z"
                        style="width: 60px; height: 60px; padding-right: 20px"
                      />
                    </div>
                    <div class="teams--ranking">
                      <span>LEVIATÁN</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="Equipos/Coscu Army.html"
                  style="text-decoration: none; color: black"
                >
                  <div class="main--body__ranking">
                    <div class="teams--ranking">
                      <img
                        src="../../Images/Logos equipos/Coscu army (600x600px).png"
                        alt="Coscu Army"
                        style="width: 60px; height: 60px; padding-right: 20px"
                      />
                    </div>
                    <div class="teams--ranking">
                      <span>Coscu army</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="Equipos/Furious Gaming.html"
                  style="text-decoration: none; color: black"
                >
                  <div class="main--body__ranking">
                    <div class="teams--ranking">
                      <img
                        src="../../Images/Logos equipos/Furious Gaming (600x600px).png"
                        alt="Furious Gaming"
                        style="width: 60px; height: 60px; padding-right: 20px"
                      />
                    </div>
                    <div class="teams--ranking">
                      <span>Furious Gaming</span>
                    </div>
                  </div>
                </a>
              </li>
            </ol>
          </div>
          <div style="margin-left: 500px">
            <ol>
              <li>
                <a
                  href="Equipos/Malvinas gaming.html"
                  style="text-decoration: none; color: black"
                >
                  <div class="main--body__ranking">
                    <div class="teams--ranking">
                      <img
                        src="../../Images/Logos equipos/Malvinas Gaming (600x600px)1.png"
                        alt="Malvinas Gaming"
                        style="width: 60px; height: 60px; padding-right: 20px"
                      />
                    </div>
                    <div class="teams--ranking">
                      <span>MALVINAS GAMING</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="Equipos/New Pampas .html"
                  style="text-decoration: none; color: black"
                >
                  <div class="main--body__ranking">
                    <div class="teams--ranking">
                      <img
                        src="../../Images/Logos equipos/Uala New Pampas (600x600px).png"
                        alt="Ualá New Pampas"
                        style="width: 60px; height: 60px; padding-right: 20px"
                      />
                    </div>
                    <div class="teams--ranking">
                      <span>UALÁ NEW PAMPAS</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="Equipos/Stone Movistar.html"
                  style="text-decoration: none; color: black"
                >
                  <div class="main--body__ranking">
                    <div class="teams--ranking">
                      <img
                        src="../../Images/Logos equipos/Stone Movistar (600x600px).png"
                        alt="Stone Movistar"
                        style="width: 60px; height: 60px; padding-right: 20px"
                      />
                    </div>
                    <div class="teams--ranking">
                      <span>STONE MOVISTAR</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="Equipos/Boca Juniors.html "
                  style="text-decoration: none; color: black"
                >
                  <div class="main--body__ranking">
                    <div class="teams--ranking">
                      <img
                        src="../../Images/Logos equipos/Boca Juniors Gaming (600x600px).png"
                        alt="Boca Juniors"
                        style="width: 60px; height: 60px; padding-right: 20px"
                      />
                    </div>
                    <div class="teams--ranking">
                      <span>BOCA JUNIORS GAMING</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="Equipos/9z.html"
                  style="text-decoration: none; color: black"
                >
                  <div class="main--body__ranking">
                    <div class="teams--ranking">
                      <img
                        src="../../Images/Logos equipos/9z (600x600px).png"
                        alt="9z"
                        style="width: 60px; height: 60px; padding-right: 20px"
                      />
                    </div>
                    <div class="teams--ranking">
                      <span>9z</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="Equipos/9z.html"
                  style="text-decoration: none; color: black"
                >
                  <div class="main--body__ranking">
                    <div class="teams--ranking">
                      <img
                        src="../../Images/Logos equipos/9z (600x600px).png"
                        alt="9z"
                        style="width: 60px; height: 60px; padding-right: 20px"
                      />
                    </div>
                    <div class="teams--ranking">
                      <span>9z</span>
                    </div>
                  </div>
                </a>
              </li>
            </ol>
          </div>
        </section>
      </div>
      <div>
        <h3 class="titule-ranking-valorant">VALORANT</h3>
        <section class="main--body__ranking">
          <div>
            <ol>
              <li>
                <a
                  href="Equipos/9z.html"
                  style="text-decoration: none; color: black"
                >
                  <div class="main--body__ranking">
                    <div class="teams--ranking">
                      <img
                        src="../../Images/Logos equipos/9z (600x600px).png"
                        alt="9z"
                        style="width: 60px; height: 60px; padding-right: 20px"
                      />
                    </div>
                    <div class="teams--ranking">
                      <span>9z</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="Equipos/Isurus Gaming.html"
                  style="text-decoration: none; color: black"
                >
                  <div class="main--body__ranking">
                    <div class="teams--ranking">
                      <img
                        src="../../Images/Logos equipos/Isurus Gaming (600x600px).png"
                        alt="9z"
                        style="width: 60px; height: 60px; padding-right: 20px"
                      />
                    </div>
                    <div class="teams--ranking">
                      <span>ISURUS GAMING</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="Equipos/River Plate.html"
                  style="text-decoration: none; color: black"
                >
                  <div class="main--body__ranking">
                    <div class="teams--ranking">
                      <img
                        src="../../Images/Logos equipos/River Plate Gaming (600x600px).png"
                        alt="9z"
                        style="width: 60px; height: 60px; padding-right: 20px"
                      />
                    </div>
                    <div class="teams--ranking">
                      <span>RIVER PLATE GAMING</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="Equipos/Leviatán.html "
                  style="text-decoration: none; color: black"
                >
                  <div class="main--body__ranking">
                    <div class="teams--ranking">
                      <img
                        src="../../Images/Logos equipos/Leviatán (600x600px).png "
                        alt="9z"
                        style="width: 60px; height: 60px; padding-right: 20px"
                      />
                    </div>
                    <div class="teams--ranking">
                      <span>LEVIATÁN</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="Equipos/Coscu Army.html"
                  style="text-decoration: none; color: black"
                >
                  <div class="main--body__ranking">
                    <div class="teams--ranking">
                      <img
                        src="../../Images/Logos equipos/Coscu army (600x600px).png"
                        alt="Coscu Army"
                        style="width: 60px; height: 60px; padding-right: 20px"
                      />
                    </div>
                    <div class="teams--ranking">
                      <span>Coscu army</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="Equipos/Furious Gaming.html"
                  style="text-decoration: none; color: black"
                >
                  <div class="main--body__ranking">
                    <div class="teams--ranking">
                      <img
                        src="../../Images/Logos equipos/Furious Gaming (600x600px).png"
                        alt="Furious Gaming"
                        style="width: 60px; height: 60px; padding-right: 20px"
                      />
                    </div>
                    <div class="teams--ranking">
                      <span>Furious Gaming</span>
                    </div>
                  </div>
                </a>
              </li>
            </ol>
          </div>
        </section>
      </div>
    </main>
    <hr />
    <footer style="text-align: center; padding: 20px 0 30px 0">
      <div class="icons-footer">
        <i class="fab fa-facebook icon-facebook"></i>
        <i class="fab fa-twitter icon-twitter"></i>
        <i class="fab fa-youtube icon-youtube"></i>
        <i class="fab fa-twitch icon-twitch"></i>
        <i class="fab fa-instagram icon-instagram"></i>
      </div>

      <div class="span--footer">
        <span style="color: black"> &copy; Copyright - Santiago Targize.</span>
      </div>
    </footer>
  </body>
</html>
