<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/e47c7f40aa.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../../style2.css" />
    <title>E-ARG 🎮</title>
  </head>
  <body>
    <header class="header">
      <h1 class="logo">Esports Argentina</h1>
      <nav class="nav__header nav">
        <a href="../Index2.html"> Inicio </a>
        <a href="Equipos.html"> Equipos </a>
        <a href="Rankings.html"> Rankings </a>
        <a href="Contact.html"> Conacto </a>
        <a href="Inicio sesion.html"> Inicia sesión </a>
      </nav>
    </header>

    <hr />

    <main>
      <div class="titule-teams">
        <h2 class="titule-teams__icons">
          <div>
            <img
              src="../../Images//Logos equipos/Isurus Gaming (600x600px).png"
              alt="Isurus Gaming"
              style="width: 60px; height: 60px; padding-right: 20px"
            />
          </div>
          ISURUS GAMING
        </h2>
      </div>
    </main>
    <footer
      class="footer main-div-footer"
      style="text-align: center; padding: 20px 0 30px 0"
    >
      <div class="span--footer">
        <span style="color: black"> &copy; Copyright - Santiago Targize.</span>
      </div>
      <div class="icons-footer">
        <i class="fab fa-facebook icon-facebook"></i>
        <i class="fab fa-twitter icon-twitter"></i>
        <i class="fab fa-youtube icon-youtube"></i>
        <i class="fab fa-twitch icon-twitch"></i>
        <i class="fab fa-instagram icon-instagram"></i>
      </div>
    </footer>
    <footer
      class="footer main-div-footer"
      style="text-align: center; padding: 20px 0 30px 0"
    >
      <div class="icons-footer">
        <i class="fab fa-facebook icon-facebook"></i>
        <i class="fab fa-twitter icon-twitter"></i>
        <i class="fab fa-youtube icon-youtube"></i>
        <i class="fab fa-twitch icon-twitch"></i>
        <i class="fab fa-instagram icon-instagram"></i>
      </div>
      <div class="span--footer">
        <span style="color: black"> &copy; Copyright - Santiago Targize.</span>
      </div>
    </footer>
  </body>
</html>
